html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		title Zoek verkoper
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Free HTML5 Website Template by FreeHTML5.co")
		meta("keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive")
		meta(name="author" content="FreeHTML5.co")

		//- Facebook and Twitter integration
		meta(property="og:title" content="")
		meta(property="og:image" content="")
		meta(property="og:url" content="")
		meta(property="og:site_name" content="")
		meta(property="og:description" content="")
		meta(name="twitter:title" content="")
		meta(name="twitter:image" content="")
		meta(name="twitter:url" content="")
		meta(name="twitter:card" content="")

		//- Icons
		link(rel="shortcut icon" href="favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet")

		//- Animate.css
		link(rel="stylesheet" href="css/animate.css")
		//- Icomoon Icon Fonts
		link(rel="stylesheet" href="css/icomoon.css")
		//- Simple Line Icons
		link(rel="stylesheet" href="css/simple-line-icons.css")
		//- Bootstrap
		link(link rel="stylesheet" href="css/bootstrap.css")
		//- Theme Style
		link(rel="stylesheet" href="css/style.css")
		//- Custom Css
		link(rel="stylesheet" href="css/custom.css")

		//- Modernizr JS
		script(src="js/modernizr-2.6.2.min.js")

	body
	div#fh5co-page
	header#fh5co-header(role="banner")
		div.container
			div.header-inner
				h1
					a(href='/') Straatjournaal
				nav(role='navigation')
					ul
						li
							a.active(href='/') Home
						li
							a(href='/search') Zoek verkoper
						li
							a(href='/about') Over ons
						li
							a(href='/contact') Contact
 
	div#fh5co-blog-section
		div.container
			div.row
				div.col-md-6.col-md-offset-3.text-center.fh5co-heading
					h2 Ontmoet onze verkopers
					p Selecteer je lokale verkoper, lees hun verhaal en/of maak geld over om een krant te kopen.
					div.form-group
								input.form-control(placeholder= 'Naam' type='text')
					div.form-group
								input.btn.btn-primary(value='Zoek verkoper' type='submit')

			div.row
			each thing in salesman
				div.col-md-4.text-center
					div.blog-inner
						a(href='#')
							img.img-responsive(src= thing.photo alt='Blog')
						div.desc
							h3
								a(href='#') #{thing.name}
							p Verkoopt het Straatjournaal in #{thing.location}
							p
								form(method='post' action='/search')
									button#button.btn.btn-primary.btn-outline(type='submit' href='/profile' value=thing.id name='ID') Lees meer&nbsp;

	footer#fh5co-footer(role='contentinfo')
		div.container
			div.col-md-3.col-sm-12.col-sm-push-0.col-xs-12.col-xs-push-0
				h3 Over ons
				p Hier kunnen verkopers hun krant verkopen, ondanks het feit dat mensen steeds minder vaak contant geld op zak hebben. 

			div.col-md-6.col-md-push-1.col-sm-12.col-sm-push-0.col-xs-12.col-xs-push-0
				h3 Menu
				ul.float
					li
						a(href='/') Home
					li
						a(href='/search') Zoek verkoper
					li
						a(href='/contact') Contact
					li
						a(href='/about') Over ons

			div.col-md-2.col-md-push-1.col-sm-12.col-sm-push-0.col-xs-12.col-xs-push-0
				h3 Volg ons op:
				ul.fh5co-social
					li
						a(href='https://twitter.com/straatjournaal')
							i.icon-twitter &nbsp;Twitter
					li
						a(href='#')
							i.icon-facebook &nbsp;Facebook
					li
						a(href='#')
							i.icon-instagram &nbsp;Instagram

			div.col-md-12.fh5co-copyright.text-center 
				p &copy; 2016 Straatjournaal App. All Rights Reserved
					span Created by Ilana Enderman

	//- jQuery
	script(src='js/jquery.min.js')
	//- jQuery Easing
	script(src='js/jquery.easing.1.3.js')
	//- Bootstrap
	script(src='js/bootstrap.min.js')
	//- Waypoints
	script(src='js/jquery.waypoints.min.js')
	//- MAIN JS
	script(src='js/main.js')
	//- Custom JS
	cript(src='js/custom.js')